@import 'tailwindcss';
@config '../tailwind.config.js';

#root {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: Outfit;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("assets/fonts/Outfit-VariableFont_wght.ttf") format("truetype");
}